# Xcode
build/
DerivedData/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.xcuserdata
*.playground
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
*.xccheckout
.vscode/

# Archives
*.xcarchive

# App bundle (built artifact)
*.app
